<%- include('./Login') %>
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <div class="header-img position-relative  " style="height:130px ;top:0;left:0; right:0; z-index: 100;">
    <div class="container h-100">
      <nav class=" navbar navbar-expand-lg text-white h-100 justify-content-between">


        <div class="col-2 d-flex align-items-center">
          <a aria-current="page" href="/home" style="text-decoration: none;">
            <div class="icon p-3 img-fluid "
              style="background-color: #786C65; border-radius:50%; height:100px; width:100px;   ">

              <b class="text-white mb-1"> The Neptune House

              </b>
            </div>

          </a>

        </div>
        <div class="col-10 h-100">

          <div class="row h-100">


            <ul class="col-6 navbar-nav me-auto mb-2 mb-lg-0 text-white align-items-center h-100 ">


              <li class="nav-item text-white mx-1">
                <a class="nav-link active  text-white" aria-current="page" href="/home"> TRANG CHỦ</a>
              </li>

              <li class="nav-item text-white  mx-1">
                <a class="nav-link active  text-white" aria-current="page" href="/#Listproduct">SẢN PHẨM</a>
              </li>
              <li class="nav-item text-white  mx-1">
                <a class="nav-link active  text-white" aria-current="page" href="#infoFotter"> VỀ CHÚNG TÔI</a>
              </li>


            </ul>
            </ul>

            <div class="col-6 navbar-nav  mb-2 mb-lg-0 text-white align-items-center justify-content-end">






              <!-- Cart =-->
              <li class="nav-item text-white">

                <a class="text-white nav-link" href="/payment" style="font-size:1.2rem;">
                  <span id="CartProduct" class="badge badge-pill bg-danger"></span>
                  <span><i class="fas fa-shopping-cart"></i></span>
                </a>
              </li>
              <!-- Login -->


              <li class="nav-item text-white">


              </li>





              <% if(locals.user ){ %>
                <div class="btn-group " style=" margin-left: 1.5rem;   top: 10px;">
                  <button class="btn btn-secondary " type="button">
                    <a href="/profile/<%=locals.user.id%>" class=" d-sm-flex align-items-sm-center">
                      <img src="https://mdbcdn.b-cdn.net/img/new/avatars/1.webp" class="rounded-circle" height="18"
                        alt="Black and White Portrait of a Man" loading="lazy" />
                      <strong class="d-none d-sm-block text-white  " style="font-size:14px;">
                        <%= locals.user.firstName %>
                      </strong>
                    </a>
                  </button>
                  <button type="button" class="btn btn-sm  dropdown-toggle dropdown-toggle-split"
                    style="background-color: #686e74;" data-mdb-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <% if(locals.role==="admin" ) { %>
                      <li><a class="dropdown-item" href="/admin">Trang quản lý </a></li>
                      <% } %>
                        <% if(locals.role==="staff" ) { %>
                          <li><a class="dropdown-item" href="/profile/<%=locals.user.id%>">Trang nhân viên</a></li>

                          </li>
                          <% } %>

                            <% if(locals.role==="customer" ) { %>

                              <li><a class="dropdown-item" href="/profile/<%=locals.user.id%>">Trang cá nhân</a></li>
                              <li><a class="dropdown-item" href="#">Hóa đơn</a></li>
                              <% } %>

                                <li>
                                  <hr class="dropdown-divider" />
                                </li>

                                <li><a href="/logout" class="dropdown-item">LOG OUT <i class="far fa-sign-out"></i></a>
                  </ul>
                </div>
                <% } else { %>
                  <div class=" text-white" style="margin-left: 1.5rem;">
                    <a data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Sign in" data-bs-toggle="modal"
                      data-bs-target="#modal-form-login">
                      <button type="button" class="btn btn-outline-light m-0 p-1" style="font-size: 14px;"> Sign
                        in</button>
                    </a>
                    <a data-mdb-toggle="tooltip" data-mdb-placement="bottom" title="Sign up"
                      class=" text-decoration-none text-white" href="/signup" data-bs-toggle=" modal"
                      data-bs-target="#modal-form">
                      <button type="button" class="btn btn-outline-light  m-0 p-1" style="font-size: 14px;"> Sign
                        up</button>
                    </a>
                  </div>
                  <% } %>




            </div>

          </div>
        </div>
    </div>

  </div>

  </div>




  <!-- <a class="active  text-white" aria-current="page" href="/payment">
  <button type="button" class="btn btn-secondary"> PAYMENT</button>
</a>


<a class="active  text-white" aria-current="page" href="/detail">
  <button type="button" class="btn btn-success"> DETAIL</button>
</a>

<a class="active  text-white" aria-current="page" href="/admin">
  <button type="button" class="btn btn-danger"> admin/product</button>
</a>

<a class="active  text-white" aria-current="page" href="/admin/staff">
  <button type="button" class="btn btn-warning"> admin/staff</button>
</a>

<a class="active  text-white" aria-current="page" href="/employee/statistical">

  <button type="button" class="btn btn-info">employee</button>

</a>
<a class="active  text-white" aria-current="page" href="/employee/statistical">

  <button type="button" class="btn btn-info">employee/statistical</button>

</a> -->