<div class="row mt-sm-5 mb-5">
    <div class="col">
        <div class="d-flex justify-content-around align-items-center mb-sm-3">
            <h1 style="margin: 0;">
                Order
            </h1>
            <ul class="d-flex  justify-content-around align-items-center"
                style="list-style-type: none; margin: 0; height: 100px;">
                <li>
                    Đã giao
                    <img src="img/employee/ci_label.png" alt="">

                </li>
                <li>
                    Đang giao
                    <img src="img/employee/ci_label2.png" alt="">

                </li>
                <li>
                    <!-- Chờ Duyệt -->
                    Đã hủy
                    <img src="img/employee/ci_label3.png" alt="">

                </li>
            </ul>
        </div>

        <div class="d-flex flex-wrap align-content-between" style="box-shadow: 5px 4px 14px 12px rgba(0, 0, 0, 0.15);  min-height: 686px;
border-radius: 34px;">
            <div class="container d-flex flex-column h-100">

                <!---
    bắt đầu khung thông tin đơn dặt hàng của khách hàng
-->

                <% for(var i=0; i < orders.length; i++) if (orders[i].DonHang.MaKH ){%>

                    <div class=" row d-flex align-items-center justify-content-between m-sm-3" style="
border: 2px solid #BEBEBE;">
                        <div class="col-sm-6 d-flex align-items-center p-sm-2">

                            <div class="d-flex flex-column ms-sm-3">
                                <h4 class="fw-bold">
                                    <%=orders[i].DonHang.MaKH.HoTen %>
                                </h4>
                                <p class="text-secondary">
                                    <%=orders[i].DonHang.TongTien %> vnđ
                                </p>
                            </div>
                        </div>

                        <div class="col-sm-6 d-flex align-items-center justify-content-around" style="cursor: pointer;">
                            <div data-bs-toggle="modal" data-bs-target="#modal-notification<%=i%>" class="text-danger"
                                style="text-transform: capitalize;">

                                <% if (orders[i].DonHang.TinhTrangDonHang==="Đã giao" ) { %>
                                    <div class="text-success">
                                        <%=orders[i].DonHang.TinhTrangDonHang %>
                                            <i class="far fa-check-circle"></i>
                                    </div>
                                    <%} else { %>
                                        <% if (orders[i].DonHang.TinhTrangDonHang==="Đang giao" ) { %>
                                            <div class="text-warning">
                                                <%=orders[i].DonHang.TinhTrangDonHang %>
                                                    <i class="fas fa-spinner"></i>
                                            </div>
                                            <%} else { %>
                                                <div class="text-danger">
                                                    <%=orders[i].DonHang.TinhTrangDonHang %>
                                                        <i class="far fa-times-circle"></i>

                                                </div>
                                                <% } %>
                                                    <% } %>
                            </div>
                            <a href="/employee/delete/<%=orders[i].DonHang._id %>">
                                <div style="color: blueviolet;">
                                    <i class="fas fa-trash"></i>
                                </div>
                            </a>
                            <div class="text" onclick="ShowHide(  '<%=orders[i].DonHang._id %>')"
                                style="cursor: pointer;">
                                <i class="fad fa-info-circle"> </i>
                                <small>Chi tiết đơn ></small>
                            </div>
                        </div>

                    </div>


                    <% } %>
                        <!--
                
                    Bắt đầu khung thông tin chi tiết sp khách hàng
                -->


                        <!-- End thong tin khach hang 4-->



            </div>
            <div class="col-sm d-flex justify-content-center mt-5">
                <nav aria-label="Page navigation example mt-3">
                    <ul class="pagination">
                        <% const pre=curPage <=1 ? curPage:curPage-1; const next=curPage>= numPage ?
                            curPage: parseInt(curPage) + 1
                            %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%=pre%>" aria-label="Previous">
                                    <span class="material-icons">
                                        keyboard_arrow_left
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </a>
                            </li>

                            <% for(var i=1; i <=numPage; i++) { var active="" ; if(i==curPage) active="active" ; %>

                                <li class="page-item <%=active%>">
                                    <a class="page-link" href="?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>

                                <% } %>

                                    <li class="page-item">
                                        <a class="page-link" href="?page=<%=next%>" aria-label="Next">
                                            <span class="material-icons">
                                                keyboard_arrow_right
                                            </span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </li>
                    </ul>
                </nav>
            </div>
        </div>

    </div>



    <% for(var i=0; i < orders.length; i++) {%>

        <div class="col-sm-6 mb-sm-5" style="display: none ;" id="<%=orders[i].DonHang._id %>detail">

            <div class="d-flex justify-content-around align-items-center mb-sm-3" style="height: 100px;">
                <h1 class="d-flex align-items-center">
                    <i class="fas fa-chevron-right me-sm-3"></i>
                    Detail
                </h1>
                <div class="input-group" style="max-width: 230px; margin: 0; min-height: 55px">
                    <input type="text" class="form-control right-icon" />
                </div>
            </div>
            <div class="container d-flex flex-column" style="background: #F8F8F8;
          
border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 5px 4px 11px 13px rgba(0, 0, 0, 0.12);
border-radius: 33px;">

                <!-- Customer bill infor-->
                <div class="d-flex justify-content-end mt-3" onclick="ShowHide('<%=orders[i].DonHang._id %>')"
                    style="cursor: pointer;"><i class="fal fa-times-circle"></i></div>
                <div class="d-flex justify-content-between align-items-center m-sm-3">

                    <div class="d-flex flex-column ">

                        <h1 class="fw-bold">
                            <%=orders[i].DonHang.HoTen %>
                        </h1>
                        <p id="ngaydathang">
                            <%=orders[i].DonHang.NgayLap %>
                        </p>
                        <p>
                            <%=orders[i].DonHang.DiaChi %>
                        </p>
                    </div>

                </div>
                <!-- End of customer bill-->
                <!---------------------------------------------------------------------------------->
                <!-- Product detail-->
                <div style="height:300px;overflow-x: hidden;">


                    <% for(var j=0; j < orders[i].DeTail.length; j++) {%>
                        <% if(orders[i].DeTail[j].MaSP!=null) {%>


                            <div class="d-flex m-sm-3">
                                <img src="/uploadphoto/<%=orders[i].DeTail[j].MaSP.Image %>" class="img-fluid"
                                    width="95" height="62" style="border-radius: 50%;" alt="">
                                <div class="d-flex flex-column ms-sm-4">
                                    <div id="productName">
                                        <h3 class="fw-bold">
                                            <%=orders[i].DeTail[j].MaSP.TenSP %>
                                        </h3>
                                    </div>
                                    <p style="font-size: 11px;">
                                        <%=orders[i].DeTail[j].MaSP.MoTa %>
                                    </p>
                                    <div class="d-flex justify-content-between">
                                        <h3 class="fw-bold">
                                            x <%=orders[i].DeTail[j].SoLuong %>
                                        </h3>
                                        <h3 class="text-secondary">
                                            <%=orders[i].DeTail[j].ThanhTien %> vnđ
                                        </h3>
                                    </div>
                                </div>

                            </div>
                            <% } %>
                                <% } %>

                </div>
                <hr>
                <div class="container mb-sm-5">
                    <div class="d-flex fs-3" style="color: #818181;">
                        Total
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="text-warning" id="productTotal">
                            <%=orders[i].DonHang.TongTien %> vnđ
                        </div>
                        <a href="/employee/delete/<%=orders[i].DonHang._id %>">
                            <div id="reject" class="text-danger"
                                style="text-transform: capitalize; text-decoration: underline;">
                                Reject</div>
                        </a>
                        <a href="/employee/confirm/<%=orders[i].DonHang._id %>">
                            <button type="button" class="btn btn-outline-success fw-bold">Confirm
                                <i class="fas fa-check"></i>
                            </button>
                        </a>
                    </div>

                </div>
            </div>

            <!-- ENd khung chi tiết thông tin sp khach hang-->
        </div>


        <div class="modal fade" id="modal-notification<%=i%>" tabindex="-1" role="dialog"
            aria-labelledby="modal-notification" aria-hidden="true">
            <div class="modal-dialog modal-danger modal-dialog-centered modal-" role="document">
                <div class="modal-content">
                    <form method="post" action="/employee/editStatus/<%=orders[i].DonHang._id %>">
                        <div class="modal-header">
                            Chỉnh sửa trạng thái giao hàng
                            <button type="button" class="btn-close" data-bs-dismiss="modal" onclick="showModal()"
                                aria-label="Close">

                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-check " style="padding-left: 1rem;">
                                <input class="form-check-input" type="radio" name="status" placeholder="S" id="size-S"
                                    style="background-color: #ffe3e3;   " height=" 20" value="Chưa Giao" checked>

                                <label class="form-check-label" for="size-S" value="Chưa Giao">
                                    Chưa giao
                                </label>
                            </div>
                            <div class="form-check" style="padding-left: 1rem;">
                                <input class="form-check-input" type="radio" name="status" placeholder="S" id="size-M"
                                    style="background-color:#ffe3e3" height=" 20" value="Đang Giao">
                                <label class="form-check-label" for="size-M">
                                    Đang giao
                                </label>
                            </div>
                            <div class="form-check" style="padding-left: 1rem;">
                                <input class="form-check-input" type="radio" name="status" placeholder="S" id="size-L"
                                    style="background-color: #ffe3e3;" height=" 20" value="Đã Giao">
                                <label class="form-check-label" for="size-L">
                                    Đã giao
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <button type="submit" class="btn text-white ml-auto" data-bs-dismiss="modal"
                                onclick="showModal()" style="width: 200px; background-color:#FEB700;">Chỉnh
                                sửa</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <% } %>



            <!-- Chi tiết -->

</div>


<script>
    function ShowHide(id) {
        var x = document.getElementById(id + "detail");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

</script>